.container
  .jumbotron
    h1 onTrack
    p Set the goals that define your future self and let this buddy keep you onTrack!

  .row
    .col-md-6
      div(ng-include="'/partials/main/stats'")
    .col-md-6
      div(ng-include="'/partials/main/goals'")