.panel.panel-primary
  .panel-heading.text-center Stats
  .panel-body
    .row(ng-repeat="goal in goals | filter:{completed: true} | orderBy: 'completedDate':true")
      .col-md-9 {{ goal.name }}
      .col-md-3 {{ goal.completedDate | date: 'MMM dd yyyy' }}